@charset "UTF-8";
/* CSS Document */ 

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 15px;
    padding: 50px;
    font-size:25px;
}

#container div{
    height: 515px;
    width: 335px;
    margin: 60px;
}

div {
  background-color: rgb(255, 192, 203);
  width: 200px; 
  padding: 50px; 
  margin: 20px; 
  border: 15px solid rgb(221, 160, 221);
} 


h1 {
    text-shadow: 2px 2px 5px rgb(238, 57, 223) 
}

img {
    float: right
    width: 225px;
    height: 250px
}



