@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box; 
}
body{
    background: url("background.png") no-repeat fixed top right; 
} 
#container{
    width:900px; 
       margin: 0 auto; 
       background-color: rgb(255, 228, 196);
} 

.left {
     width: 380px;
     height: 200px;
     background-color: rgb(255, 192, 203);           
     border-radius: 25px; 
     float: left; 
     margin: 0px 15px 0px 10px;
     padding: 30px 30px 30px 30px;
     border: thick plum solid;
} 

.right{ 
     width: 380px;
     height: 200px;
     background-color: rgb(255, 192, 203);           
     border-radius: 25px; 
     float:  left;
    margin: 0px 0px 10px 0px;
    display:
}   

footer {
    background-color: rgb(255, 228, 196); 
    clear: both;
} 

header >h1{
    text-align:center;
    color: #000000;
} 
header >h3{
    text-align:center;
} 

